
/* ABOUT */

#about-content {
    width: 95%;
    height: 100%;
    float: right;  
    background: linear-gradient(rgba(26, 26, 26, 0.35), rgba(26, 26, 26, 0.35)), url("../assets/about-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#about-content h1 {
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-top: 15%;
}

#nav-home-west {
    height: 100%;
    width: 5%;
    margin: 0;
    float: left;
}

#nav-home-west h2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    float: left;
    padding: 0px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
}

#links {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    width: auto;
    height: auto;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

#space-fix {
    all: unset;
    padding-left: 5em;
}

i {
    color: white;
}

.far:hover {
    color: silver;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    height: auto;
    text-shadow: 2px 2px 4px black;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: -55.5%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

h6 {
    margin: 0;
    text-align: right;
    position: absolute; 
    bottom: 0; 
    right: 0; 
}
